@using Microsoft.AspNetCore.Identity
@model Classroom.Mvc.Entities.Course
@inject UserManager<Classroom.Mvc.Entities.AppUser> _userManager
@{
    var reversedTasks = Model.Tasks?.Reverse();

    var currentUser = _userManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name);
    var userRole = string.Empty;
    if(currentUser is not null)
    {
        var userCourse = Model.UserCourses?.FirstOrDefault(u => u.UserId == currentUser.Id);
        userRole = userCourse?.Role ?? "";
    }
}
<main class="Sgw65b kdAl3b" jsmodel="uJydvc;I8BbUd;UvJ3Mb;" tabindex="-1" role="main">
    <div jsmodel="NYdJ9b" data-include-stream-item-materials="false" data-stream-item-types="3" data-list-type="5" data-active-filter="1" data-load-all-pages="true">
        <div jsaction="rcuQ6b:rcuQ6b;uwjiC:rcuQ6b;oquPK:rcuQ6b;o2F6Cf:if3DMb" jscontroller="s2wDwf"></div>
    </div>
    <section>
        <div jsaction="rcuQ6b:BU4fHd;HO6t5b:BU4fHd;oquPK:E3Ktff;uwjiC:E3Ktff,rcuQ6b;wJx4ze:rcuQ6b;gbLJWc:ZLWxKf;JIbuQc:fyRA7e(idVoDf)" jscontroller="yidvwe" id="ow81" __is_owner="true">

            <div class="Aopndd MdjMac">
                @if (Model.Tasks?.Count != 0)
                {
                <div style="width: 100%;">
                    <h5>Kursdagi vazifalar ro'yxati</h5>
                    @if(userRole.Contains("teacher") || userRole.Contains("owner"))
                    {
                        <a class="btn" style="float: right;background-color: #ffbc665e;" asp-controller="Course" asp-action="CreateTask" asp-route-courseId="@Model.Id"><i class="fa fa-plus"></i> Vazifa qo'shish</a>
                    }
                </div>
                }
                @if (Model.Tasks?.Count == 0)
                {
                    <center>
                        <img src="~/images/leverow/task_add.svg" alt="Blank">
                        <div>
                            <p class="VnOHwf-Tvm9db z3vRcc aQkHxe">Hozircha kursda hech qanday vazifalar yo'q</p>
                            @if(userRole.Contains("teacher") || userRole.Contains("owner"))
                            {
                                <p class="asQXV">Lentaga o'z vazifangizni qo'shishingiz mumkin.</p>
                                <a class="btn" style="background-color: #ffbc665e;" asp-controller="Course" asp-action="CreateTask" asp-route-courseId="@Model.Id"><i class="fa fa-plus"></i> Vazifa qo'shish</a>
                            }
                        </div>
                    </center>
                }
            </div>
            @if (Model.Tasks != null)
            {

                foreach(var taskItem in reversedTasks!)
                {
                    <div class="qhnNic LBlAUc Aopndd TIunU ZoT1D idtp4e DkDwHe" onclick="location.href='/course/id/@Model.Id/tasks/@taskItem.Id';">
                        <div class="n4xnA">
                            <div class="JZicYb QRiHXd">
                                <div class="bxp7vf bFjUmb-Wvd9Cc m1PbN qJJSvb vUBwW"><svg focusable="false" width="24" height="24" viewBox="0 0 24 24" class=" NMm5M hhikbc"><path d="M7 15h7v2H7zm0-4h10v2H7zm0-4h10v2H7z"></path><path d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-.14 0-.27.01-.4.04a2.008 2.008 0 0 0-1.44 1.19c-.1.23-.16.49-.16.77v14c0 .27.06.54.16.78s.25.45.43.64c.27.27.62.47 1.01.55.13.02.26.03.4.03h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7-.25c.41 0 .75.34.75.75s-.34.75-.75.75-.75-.34-.75-.75.34-.75.75-.75zM19 19H5V5h14v14z"></path></svg></div><div class="GQW44b">
                                    <div class="lziZub tLDEHd">
                                        <div class="QRiHXd">
                                            <span class="YVvGBb asQXV">@taskItem.Title</span>
                                            <div class="QRiHXd Y5vSD"></div>
                                        </div>
                                    </div>
                                    <span class="IMvYId dDKhVc YVvGBb">
                                        <span aria-hidden="true"><i class="fa fa-calendar">&nbsp;</i> @taskItem.StartDate</span>
                                    </span>
                                </div><div class="Nmpzvc"></div>
                                <div>
                                    @if(userRole.Contains("teacher") || userRole.Contains("owner"))
                                    {
                                        <a href="/course/id/@Model.Id/tasks/@taskItem.Id/edit" style="background-color: #0087ff;color: #fff;padding: 5px 10px;border-radius: 5px;"><i class="fa fa-pencil"></i></a>
                                        <a href="/course/id/@Model.Id/tasks/@taskItem.Id/delete" style="margin-left:5px;background-color: #e27575;color: #fff;padding: 5px 10px;border-radius: 5px;"><i class="fa fa-trash"></i></a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="BoJUHd">
                            <a class="onkcGd JX1kZ VBEdtc-Wvd9Cc zZN2Lb-Wvd9Cc">
                                <div class="QSmq3c ZNE4y"></div>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </section>
    <div jscontroller="qkFKAf" jsmodel="qjXhl" jsaction="rcuQ6b:ZiN7ye"></div>
</main>